/* Gemensamt för allt */

body {
  margin: 0;
}

.pizzaägare {
  height: 100%;
}

.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 4.2rem 1.8rem 1fr 2.8rem;
  grid-template-areas:
  'hd'
  'nv'
  'mn'
  'ft'
}

.header {
  grid-area: hd;
  background-color: rgba(245, 114, 25);
  display: flex;
  align-items: center;
}

.pizzaloggan {
  height: 100%;
}

.nav {
  grid-area: nv;
  background-color: rgba(252, 201, 50);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.rubrik {
  font-size: 2rem;
  font-family: Verdana, sans-serif;
}

.meny {
  font-size: 0.9rem;
  color: black;
  font-family: Verdana, sans-serif;
}

a {
  text-decoration: none;
}

.main {
  grid-area: mn;
  background-color: rgba(55, 6, 23);
}

.footer {
  grid-area: ft;
  background-color: rgba(252, 201, 50);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text {
  font-family: Verdana, sans-serif;
  font-size: 0.8rem;
}

.kontakt {
  font-family: Verdana, sans-serif;
  font-size: 0.8rem;
}

.pizzameny {
  font-family: Verdana, sans-serif;
  font-size: 1.3rem;
}

/* Endast för förstasidan */

#main1 {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
  'as1 ac1'
  'as1 ac2'
}

#aside1 {
  grid-area: as1;
  margin: 1rem;
  display: flex;
  justify-content: center;
  background-color: white;
}

#article1 {
  display: flex;
  align-items: center;
  line-height: 2rem;
  grid-area: ac1;
  background-color: rgb(245, 114, 25);
  margin: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

#article2 {
  grid-area: ac2;
  background-color: rgba(245, 114, 25);
  margin: 1rem;
  font-size: 3rem;
  display: flex;
  align-items: center;
  text-align: center;
}

/* Endast för andrasidan */

#main2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
  'ac3 ac4'
}

#article3 {
  grid-area: ac3;
  background-color:rgba(245, 114, 25);
  margin: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 1.5rem;
}

#article4 {
  grid-area: ac4;
  background-color:rgba(245, 114, 25);
  margin: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 1.5rem;
}

/* Endast för tredjesidan */

#main3 {
  display: grid;
  grid-template-rows: 75% 25%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  'arb1 arb2 arb3'
  'tex1 tex2 tex3'
}

#arbetare1 {
  grid-area: arb1;
  margin: 1rem;
  display: flex;
  justify-content: center;
}

#arbetare2 {
  grid-area: arb2;
  margin: 1rem;
  display: flex;
  justify-content: center;
}

#arbetare3 {
  grid-area: arb3;
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.pizzabagare {
  width: 18rem;
}

#text1 {
  grid-area: tex1;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgba(245, 114, 25);
  margin: 1rem;
  line-height: 1.2rem;
}

#text2 {
  grid-area: tex2;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgba(245, 114, 25);
  margin: 1rem;
  line-height: 1.2rem;
}

#text3 {
  grid-area: tex3;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgba(245, 114, 25);
  margin: 1rem;
  line-height: 1.2rem;
}